<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /srilankatourism/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /srilankatourism/index.html [L]
</IfModule>

